**/_build/**
*.code-workspace

data_science_foundation_curriculum/nlp/data/dutch-restaurant-reviews.csv

data_science_foundation_curriculum/nlp/data/dutch-restaurant-reviews.parquet

data_science_foundation_curriculum/nlp/data/dutch-restaurant-reviews-2017

data_science_foundation_curriculum/nlp/data/dutch-restaurant-reviews-2018

data_science_foundation_curriculum/fpp/.ipynb_checkpoints/

data_science_foundation_curriculum/islr/labs/.ipynb_checkpoints/

data_science_foundation_curriculum/handson-ml2/original/.ipynb_checkpoints/

*.parquet

data_science_foundation_curriculum/handson-ml2/extra/ames.html
