.ipynb_checkpoints
**/_build/**
*.code-workspace
*.parquet

data_science_foundation_curriculum/islr/labs/keras_mnist.h5
data_science_foundation_curriculum/islr/labs/keras_cifar100.h5
data_science_foundation_curriculum/handson-ml2/extra/ames.html
data_science_foundation_curriculum/nlp/data/dutch-restaurant-reviews.csv
data_science_foundation_curriculum/nlp/data/dutch-restaurant-reviews.parquet
data_science_foundation_curriculum/nlp/data/dutch-restaurant-reviews-2017
data_science_foundation_curriculum/nlp/data/dutch-restaurant-reviews-2018
