altair
# black  conflics with jupyter-book >= 0.12
bokeh
bs4
eli5
fuzzywuzzy
ghp-import
graphviz
imbalanced-learn
jupyter-book >= 0.12
keras-visualizer
lightgbm
lime
numpy
matplotlib
mlxtend
pandas
pandas-profiling
patsy
pdpbox
pendulum
plotly
pmdarima
pyLDAvis
levenshtein
rdata
scikit-plot
scipy
seaborn
shap
sklearn
sktime
spacy
statsmodels
streamlit
tensorflow
vega_datasets
