altair
black
bokeh
bs4
eli5
fuzzywuzzy
ghp-import
graphviz
imbalanced-learn
jupyter-book
lightgbm
lime
numpy
matplotlib
mlxtend
pandas
pandas-profiling
patsy
pdpbox
pendulum
plotly
pmdarima
pyLDAvis
python-Levenshtein
rdata
scikit-plot
scipy
seaborn
shap
sklearn
sktime
spacy
statsmodels
streamlit
vega_datasets
